/* 
  Rules
    types      - color, font, size
    context    - error, succes, warning, active, desactive, disabled, primary...
    component  - input, button, tag
    specific   - attributes, placeholder
    status     - active, focus, hover 
    variables  - [type]-[context]-[component]-[specific]-[status]
    */
/**
 * @tokens Colors
 * @presenter Color
 */

/* [type]-[context]-[component]-[specific]-[status] */
/*  color -  dark  -  button   -  outline -  hover  */

/*========================== COLORS ==========================*/

/* [type]-[context]  */

$color-primary: #167070;
$color-blue: #093d58;
$color-white: #fff;
$input-border: #E0E0E0;
$font-color: #707070;
$subtitle-grey: #909090;
$color-secondary: #FE6625;
$color-secondary-hover: #FB9234;